.home-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  color: #ffffff;
  height: 150vh;
  padding-left: 15px;
}

.button-style {
  height: 35px;
  width: 280px;
  border: 0px solid transparent;
  background-color: blue;
  border-radius: 8px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .home-section {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    color: #ffffff;
    height: 150vh;
    padding-left: 15px;
  }

  .button-style {
    height: 35px;
    width: 180px;
    border: 0px solid transparent;
    background-color: blue;
    border-radius: 8px;
    color: #ffffff;
  }
}
